{% extends 'layout.html' %}


{% block body %}
<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
            <!-- Post header-->

                <!-- Post title-->
                <br>
                <h1 class="fw-bolder mb-1">{{article.title}}</h1>
                <br>
                {% if article.author.username == "ridvan" %}
                    <a href="{% url 'user:profile' %}">
                        <span class="text-muted fst-italic mb-2">Yazar : {{article.author.username}}</span>
                        <span class="admin-text">(admin)</span>
                    </a>
                    <br>
                {% else %}
                    <a href="{% url 'user:profile' %}">
                        <span class="text-muted fst-italic mb-2">Yazar : {{article.author.username}}</span>
                    </a>
                    <br>
                {% endif %}
                <br>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">Oluşturulma tarihi : {{article.created_date}}</div>

            <!-- Preview image figure-->

            {% if article.article_image %}
                <img class="img-fluid rounded detail-img" src="{{article.article_image.url}}" alt="">
            {% endif %}

            <!-- Post content-->
                <hr>
                <p class="lead">
                    {{article.description|safe}}
                </p>

    

    <br><br>
    <br><br>
    <br><br>
    <br><br>

    <h3>Yorumlar</h3>
    <hr>
    <br>
    {% if comments %}
    
    {% for comment in comments %}
    <div class="media mb-4">
        <div class="media-body">
            <br>
            {% if article.author.username == "ridvan" %}
                <p>
                    <span class="fst-italic mb-2 comment_author">{{ comment.comment_author.username }}</span>
                    <span class="admin-text">(admin)</span>
                </p>
                
            {% else %}
                <p>
                    <div class="fst-italic mb-2 comment_author">{{ comment.comment_author.username}}/div>
                </p>
                
            {% endif %}
          <hr>
          Yazıldığı tarih : {{comment.comment_date}} <br>
          <hr>
          {{comment.comment_description}}
        </div>
      </div>
      <hr>
    {% endfor %}
        
    

    {% else %}
        <div class="alert alert-danger">
            Bu makalede henüz bir yorum bulunmuyor, İlk yorum yapan siz olun.
        </div>
    {% endif %}
        
    <div class="card my-4 container">
        <h5 class="card-header">Yorum Ekle:</h5>
        <div class="card-body">
            <form action="{% url 'article:addComment' article.id %}" method="post">
                {% csrf_token %}

                <div class="form-group">
                    
                    {% if request.user.username == "ridvan" %}
                        <p>Kullanıcı: {{ request.user.username }}
                            <span class="admin-text">(admin)</span>
                        </p>
                    {% else %}
                        <p>Kullanıcı: {{ request.user.username }}</p>
                    {% endif %}
                        
                    
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput">Yorum</label>
                    <textarea name="comment_description" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary my-3 comment-button">Yorum ekle</button>
          </form>
        </div>
    </div>
    </div>
</div>
    

{% endblock body %}
    