{% extends 'layout.html' %}


{% block body %}
<div style="margin-bottom: 250px;" class="container mt-5">
    <h2>Profil Sayfası</h2>
    <br> <hr>
    
    {% if request.user.username == "ridvan" %}
        <p>Kullanıcı Adı: {{ request.user.username }}
            <span class="admin-text">(admin)</span>
        </p>
    {% else %}
        <p>Kullanıcı Adı: {{ request.user.username }}</p>
    {% endif %}
        
    
    <p>Kayıt Tarihi: {{ registration_date }}</p>
</div >
{% endblock body %}
    