<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{% url 'index' %}">Blog</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Anasayfa <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">Hakkımda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'article:articles' %}">Makaleler</a>
      </li>     
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article:dashboard' %}">Kontrol Paneli</a>
        </li>
      {% else %}      
      {% endif %}     
    </ul>
    
    
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle username-navbar" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
          {% if user.username == "ridvan" %}
          Giriş yapıldı: {{ user.username }} <p style="color: red; display: inline;">(Admin)</p>
          {% else %}
          Giriş yapıldı: {{ user.username }}
          {% endif %}
             
          
        </a>
        <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{% url 'user:profile' %}">Profil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'user:logoutUser' %}">Çıkış Yap</a>
        </div>
    </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user:loginUser' %}">Giriş Yap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user:registerUser' %}">Kayıt Ol</a>
      </li>
      {% endif %}
      
      
    </ul>

  </div>
</nav>
